.ul_1 {
    margin-left: 6px;
}

#icon {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
}

#icon img {
    margin-top: 40px;
}

#absolute_img {
    padding-top: 30px;
    padding-bottom: 20px;
}

.col {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 16px;
}

.col h2 {
    color: #A4A4A4;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.col p {
    padding-bottom: 10px;
}

.col2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 27px;
}

.col2 h2 {
    color: #A4A4A4;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.col2 p {
    font-size: 13.8px;
}

.col3 {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 15px;
    position: relative;
    left: 40px;
    top: 60px;
}

.col3 h2 {
    color: #A4A4A4;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

.Contacts {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 50px;
}

#absolute {
    position: absolute;
}

#map {
    position: absolute;
    position: relative;
    left: 325px;
    width: 700px;
    bottom: 70px;
}

.footer {
    margin-top: -20px;
}